monoworkspace/WebServiceClient/WebServiceClient/HelloWorld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ufc.br" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ufc.br">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ufc.br">
            <xs:element name="helloWorld">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="in" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="helloWorldResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="helloWorldRequest">
        <wsdl:part name="parameters" element="ns:helloWorld"/>
    </wsdl:message>
    <wsdl:message name="helloWorldResponse">
        <wsdl:part name="parameters" element="ns:helloWorldResponse"/>
    </wsdl:message>
    <wsdl:portType name="HelloWorldPortType">
        <wsdl:operation name="helloWorld">
            <wsdl:input message="ns:helloWorldRequest" wsaw:Action="urn:helloWorld"/>
            <wsdl:output message="ns:helloWorldResponse" wsaw:Action="urn:helloWorldResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HelloWorldSoap11Binding" type="ns:HelloWorldPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="helloWorld">
            <soap:operation soapAction="urn:helloWorld" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HelloWorldSoap12Binding" type="ns:HelloWorldPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="helloWorld">
            <soap12:operation soapAction="urn:helloWorld" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HelloWorldHttpBinding" type="ns:HelloWorldPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="helloWorld">
            <http:operation location="helloWorld"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HelloWorld">
        <wsdl:port name="HelloWorldHttpSoap11Endpoint" binding="ns:HelloWorldSoap11Binding">
            <soap:address location="http://10.11.13.214:8080/axis2/services/HelloWorld.HelloWorldHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HelloWorldHttpSoap12Endpoint" binding="ns:HelloWorldSoap12Binding">
            <soap12:address location="http://10.11.13.214:8080/axis2/services/HelloWorld.HelloWorldHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HelloWorldHttpEndpoint" binding="ns:HelloWorldHttpBinding">
            <http:address location="http://10.11.13.214:8080/axis2/services/HelloWorld.HelloWorldHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
